/* Google Fonts Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card {
    max-width: 350px;
    width: 100%;
    border-radius: 25px;
    padding: 20px 30px 30px 30px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 3;
    overflow: hidden;
}

.card__images img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.card__images-total {
    position: absolute;
    font-size: 1.2rem;
    background-color: blueviolet;
    color: white;
    width: 100px;
    border-radius: 10px;
    left: 50%;
    margin-left: -50px;
    margin-top: 20px;
}

.card__details-category {
    font-size: 1.5rem;
    font-weight: 500;
    color: #161616;
}

.card__details-question {
    font-size: .823rem;
    font-weight: 400;
    color: #333;
}

.card__button {
    position: relative;
    height: 50px;
    width: 100%;
    border-radius: 25px;
    margin-top: 30px;
    overflow: hidden;
}

.card__button-layer {
    position: absolute;
    height: 100%;
    width: 300%;
    left: -100%;
    background-image: linear-gradient(135deg, #9708CC, #43CBFF, #9708CC, #43CBFF);
    transition: all 0.4s ease;
    border-radius: 25PX;
}

.card__button-layer:hover {
    left: 0;
}

.card__button-bg {
    position: relative;
    height: 100%;
    width: 100%;
    background: none;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}









































































































/*  */
